In [8]:
import pandas as pd

# Results

# Kmeans scratch

10000

In [ ]:
CPU times: user 2.35 s, sys: 12 ms, total: 2.36 s
Wall time: 2.38 s

100000

In [ ]:
CPU times: user 36.6 s, sys: 163 ms, total: 36.8 s
Wall time: 36.9 s

1000000

In [ ]:
CPU times: user 5min 10s, sys: 1.57 s, total: 5min 11s
Wall time: 5min 13s

# Kmean with numpy

10000

In [ ]:
CPU times: user 757 ms, sys: 15.9 ms, total: 773 ms
Wall time: 766 ms

100000

In [ ]:
CPU times: user 7.47 s, sys: 185 ms, total: 7.66 s
Wall time: 7.53 s

1000000

In [ ]:
CPU times: user 1min 44s, sys: 1.63 s, total: 1min 45s
Wall time: 1min 45s

# Sklearn

10000

In [ ]:
CPU times: user 59.1 ms, sys: 9.61 ms, total: 68.7 ms
Wall time: 15.3 ms

100000

In [ ]:
CPU times: user 401 ms, sys: 22.8 ms, total: 424 ms
Wall time: 73.4 ms

1000000

In [ ]:
CPU times: user 3.29 s, sys: 84.9 ms, total: 3.37 s
Wall time: 645 ms

In [16]:
pd.read_csv('speed.csv',index_col='Points',)

           Sketch     Numpy  Sklearn
Points
10000      2.38 s    766 ms  15.3 ms
100000     36.9 s    7.53 s  73.4 ms
1000000  5min 13s  1min 45s   645 ms